
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f5; 
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', cursive;
    color: #d90429; 
    text-align: center;
    margin-bottom: 20px;
}


.main-header {
    background-color: #2b2d42; 
    padding: 15px 5%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-header h1 {
    color: #edf2f4; 
    margin: 0;
    font-size: 1.5em;
}

.main-nav a {
    color: #8d99ae;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav a:hover {
    color: #edf2f4;
    background-color: #ef233c; 
}

.play-now-button {
    background-color: #ef233c;
    color: #edf2f4;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 4px #d90429; 
    transition: transform 0.1s, box-shadow 0.1s;
}

.play-now-button:active {
    transform: translateY(2px);
    box-shadow: 0 2px #d90429;
}

.section {
    padding: 40px 5%;
    margin-bottom: 30px;
}

.about-section {
    text-align: center;
    background-color: #ffffff;
    border-bottom: 3px solid #d90429;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 5%;
}

.game-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.game-card img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 15px 0;
    border: 3px solid #ef233c;
}

.game-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.game-link:hover {
    background-color: #0056b3;
}

.main-footer {
    background-color: #2b2d42;
    color: #8d99ae;
    padding: 20px 5%;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}
.main-footer a {
    color: #edf2f4;
    margin-left: 10px;
}
.main-footer a:hover {
    color: #ef233c;
}
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }
    
    .main-nav {
        margin: 15px 0;
    }

    .main-nav a {
        display: block;
        margin: 5px 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    
    .social-links {
        margin-top: 10px;
    }
}